<%
  locals.page_title = 'Minefield — Draw custom flag';
  locals.page_descr = 'Minefield — Draw custom flag';
  locals.css = ['admin/admin.css'];
-%>
<% include ../layout_head.ejs %>
<form action="" method="post">
  <div>
  <% files.forEach(function(file) { %>
    <label>
      <input type="checkbox" name="files" value="<%=file%>"/>
      <img src="/flags/<%=file%>"/>
    </label>
  <% }) %>
  <div>
  <br/>
  <input type="submit" name="gallery_add" value="Add to Gallery"/>
  <input type="submit" name="gallery_remove" value="Remove from Gallery"/>
  <input type="submit" name="delete" value="Delete"/>
</form>
<br/>
<br/>
<% for (var i = 0; i < total_pages_count; i++) { %>
  <a href="?page_count=<%= page_count %>&page_num=<%= i %>"><%= i+1 %></a>
<% } %>
total files: <%= total_files_count %>
current page: <%= page_num %>
<% include ../layout_foot.ejs %>